
#title{
  font-size: 25px;
  font-family: "Brush Script MT";
}

#search{
  float:right;
  margin-top: 15px;
  right: 20px;
}

#map{
  height: 800px;
  width: 100%;
  z-index: 0;
  padding-top: 0;

}

.col12 {
  padding-bottom: 0;
  padding-top: 0;
}

.navbar ul {
  padding-top: 10px;
}

#nprogress .spinner {
    position: absolute;
  top: 100px;
  right: 20px;
}

.card-river {
    position: absolute;
    margin-left: auto;
    margin-right: 0;
    top: 25%;
    left: 1%;
    z-index: 1;
    background-color: white;
}

#card-filter{
    position: absolute;
    top: 25%;
    right: 0;
    z-index: 1;
    background-color: white;
}

#button-filter{
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: 1;
}

.card-text{
    margin-top: -5%;
}
.card-text img {
    padding: 0;
}

.leaflet-popup-content{
  width: 200px;
}


.card-sign-up{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -5%;
    margin-left: -10%;
    text-align: center;
    z-index: 4;
}

.card-login-form{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15%;
    margin-left: -16%;
    z-index: 4;
}

.card-sign-up-form{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -19%;
    margin-left: -16%;
    z-index: 4;
}

.sign-up-from-alert{
    margin: .50rem;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	z-index: 3;
}

#presentation{
    padding-top: 3%;
}

#img-telegram{
    width: 70%;
    float: right;
}

#telegram-logo{
    width: 20%;
    margin-left: 20%;
}
#email-logo{
    width: 20%;
    margin-left: 10%;
}

#telegram-logo:hover{
    opacity: 0.5;
}

#email-logo:hover{
    opacity: 0.5;
}

#img-telegram-div{
    padding-bottom: 0;
}

#text-explain-alerts{
    padding-right: 3%;
}

.form-group{
    margin-top: 7%;
}

#alert-search{
    margin-top: 3%;
}

#img-alert-possibility{
    margin-top: 10%;
}

.wrapper{
    z-index: 2;
}
